body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}/*глобальні стилі*/

.navbar {
    display: flex;
    width: 100%;
    max-width: 1440px;
    height: 72;
    border: 0, 0, 5px 0;
    border-color: black;

}

.container {
    display: flex;
    height: inherit;
    justify-content: space-between;
    align-items: center;
    /*list-style-type: none;*/
}
.logo {
    margin: 0, 0, 0, 156px;
}

.link {
    padding: 0;
    display: flex;
    /*list-style-type: none;*/

}

.address {
    display: flex;
    padding: 0;
    /*list-style-type: none;*/
}

.hero {
    width: 1440px;
    height: 600px;
    background-color: rgba(46, 47, 66, 1);
}